body {
  background-color: #744c9e;
}

.gallery {
  width: 900px;
  margin: 0 auto;
}

.header {
  margin-top: 44px;
  text-align: center;
  color: #9D7CBF;
  margin-bottom: 40px;
}

h1 {
  display: inline;
  font-family: 'Futura PT',-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue','Arial',sans-serif;
}

.logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  margin-left: 14px;
}

.sites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site {
  margin: 16px;
}

.site a {
  color: #ffffff;
}

.shadow {
  box-shadow: 7px 8px 30px 1px rgba(0,0,0,.4);
  transition: box-shadow 0.3s;
}

.shadow:hover {
  box-shadow: 27px 28px 55px 1px rgba(0,0,0,.4);
}
